@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Yellowtail&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.stylish {
  font-family: "Yellowtail", cursive;
  color: #68a47f;
  font-weight: 100;
}
h1 {
  color: #274c5b;
  font-weight: 900;
  font-size: 36px;
}
h2,
h3,
h4 {
  color: #274c5b;
}
p {
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  color: #525c60;
}
button {
  padding: 20px 30px;
  font-weight: 700;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
a{
font-weight: 200;
}
@media (max-width:768px) {
  h1{
    font-size: 26px;
  }}